body {
  margin: 0;
  font-family:  'Mulish', 'Kurale', 'Cormorant',sans-serif;
  background-color: #363330;
  
  
}

.nav{
  background: #F9F4F0;
  overflow: hidden;
  height: 72px;
  
}

.nav a{
  font-family: 'Cormorant';
  float: right;
color: #948475;
text-align: center;
padding: 32px;
padding-top: 25px;
text-decoration: none;
font-size: 20px;
transition: color .5s

}
.nav a:hover{
  color:#bc8157 !important;
  text-decoration: underline;
}

.nav button{
float: right;
color: #948475;
background-color: #F9F4F0;
border: none;
transition: color .5s;
cursor: pointer;
}

.nav button:hover{
  color:#bc8157 !important;
  cursor: pointer;
}

.panel {
  background-color: #F9F4F0;
  width: 20vw;
  height: calc(100vh - 3rem);
  position: fixed;
  right: 0;
  display: none;
  transition: 0.5s;
}
.panel h1{
text-align: center;
font-family: 'Kurale';
font-size: 22px;
color: #b87952;
text-decoration: underline;
}

.botonpanel{
  display: grid;
  grid-template-columns: 1fr ;
  margin-left: 4em;
  margin-right: 4em;

}

.botonpanel #botones{
  border-radius: 20px;
  background-color: #f3e7e0;
  color: #363330;
  padding: 1em;
  text-align: center;
  font-size: 15px;
  font-family: 'Mulish';

  -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.botonpanel #botones:hover {
    background-color: #b87952; 
    color: white;
}
.carrito {
  width: 8rem;
  height: 3rem;
  border: none;
  font-size: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}
.nav i{
  float: right;
  color: #948475;
  text-align: center;
  padding: 24px;
  padding-left: 15px;
  padding-top: 21px;
  font-size: 29px;
  transition: color .5s;
  }
  
  .nav i:hover{
    color:#bc8157 !important;
  }

#final{
  margin-right: 80px;
}

.logo{
  position: absolute;
  height:280px;

left: 112px;
z-index: 100;
}

.logo2{
  padding-top: 10px;
  padding-left: 78px;
  width: 500px;
}



.cabeza{
  height: 17rem;
  background-image:url(Harina.png);
  background-size:cover;
  display: flex;
  margin:auto;
  text-align:center;
  justify-content: center;
 
}


#prod{
font-family: 'Kurale';
font-size: 50px;
text-align: center;
margin: auto;
justify-content: center;

color: #f3e7e0;

border-bottom: 1px solid #f3e7e0;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boton{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 4em;
  margin-right: 4em;

}


.boton #botones{
  border-radius: 20px;
  background-color: #f3e7e0;
  color: #363330;
  margin: 1em;
  padding: 20px 5px;
  text-align: center;
  font-size: 16px;
  font-family: 'Mulish';

  -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.boton #botones:hover {
    background-color: #b87952; 
    color: white;
}

.productos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 4em;
  margin-right: 4em;
  
}

.productos #tarjeta{
  background: #f3e7e0;
  border-radius: 20px;
  margin: 1rem;
  padding:1.2em;
}
.productos img{
  width: 100%;
  display: block;
  height: 55%;
}

#titulo{
  font-family: "mulish";
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#titulo h1{
  font-size:23px;
  font-family: 'Kurale';
}

#titulo h2{
font-size:22px;
text-align: end;
color: #b87952;
}


#tarjeta button{
  border-radius: 20px;
  background-color: #EEDFD3;
  color: #212835;
  padding: 1rem  10rem;
  text-align: center;
  font-size: 16px;
  font-family: 'Mulish';
  border: 2px;
  
  

  -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
#tarjeta button:hover {
    background-color: #b87952; 
    color: #e6dbcc;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Mulish';
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #FCEAD9;
 
}

.grid-item2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  
  color: #382A20;
  -webkit-animation: scale-in-ver-top 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .grid-item3{
    font-family: 'Kurale';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    
    color: #121314;
    }
  
  .grid-item2 a{
      font-family: 'mulish';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 33px;
      text-align: center;
      transition: color .5s;
      
      color: #121314;
      }
    
      
  .grid-item2 a :hover{
    color:#bc8157 !important;
    text-decoration: underline;
    }
  
  .grid-item #nombre{
  
  font-family: 'Kurale';
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 26px;
  
  
  color: #F6ECDF;
  }


/*webinarts*/


@-webkit-keyframes derecho {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes derecho {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
/* ----------------------------------------------
* Generated by Animista on 2022-10-20 17:12:42
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation scale-in-ver-top
* ----------------------------------------
*/
@-webkit-keyframes scale-in-ver-top {
0% {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  opacity: 1;
}
100% {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  opacity: 1;
}
}
@keyframes scale-in-ver-top {
0% {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  opacity: 1;
}
100% {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  opacity: 1;
}
}
